
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--black-green: #1A2902;
	--middle-dark-green: #27380d;
	--dark-green: #344C11;
	--main-green: #778D45;
	--white-green: #AEC09A;
}

body{
	background-color: var(--main-green);
	font-family: "Poppins", sans-serif;
}

.container{
	background-color: var(--white-green);
	width: 90vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 80px 50px;
	border-radius: 10px;
	box-shadow: 0 20px 40px rgba(38, 33, 61, 0, 2);
}

.search-box{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.search-box input{
	padding: 5px;
	width: 70%;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--dark-green);
	font-size: 16px;
	background-color: var(--white-green);
}


.search-box button{
	padding: 15px 0;
	width: 25%;
	background-color: var(--dark-green);
	border: none;
	outline: none;
	color: var(--white-green);
	border-radius: 5px;
	cursor: pointer;
	transition: .3s all ease;
}

.search-box button:hover{
	background-color: var(--middle-dark-green);
}

.search-box button:active{
	background-color: var(--black-green);
}

.result{
	position: relative;
}

.result h3{
	font-size: 30px;
	color: var(--black-green);
}

.result .word{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.result button{
	background-color: transparent;
	color: var(--dark-green);
	border: none;
	outline: none;
	font-size: 27px;
	transition: .3s all ease;
}

.result button:hover{
	color: var(--middle-dark-green);
}

.result button:active{
	color: var(--black-green);
}

.result .details{
	display: flex;
	gap: 10px;
	color: var(--dark-green);
	margin: 5px 0 20px 0;
	font-size: 14px;
}

.word-meaning{
	color: var(--dark-green);
}

.word-example{
	color: var(--dark-green);
	font-style: italic;
	border-left: 5px solid var(--black-green);
	padding-left: 20px;
	margin-top: 30px;
}

.error{
	margin-top: 80px;
	text-align: center;
}